.el-menu--horizontal>.el-menu-item.is-active{
    border-color: $color-brand;
}

.el-menu-item.is-active{
    border-bottom: 2px solid #409EFF !important;
    border-bottom-color: #00529B !important;
}
.nuxt-link-exact-active{
    background-color: transparent !important;
    color: $color-brand !important;
    font-weight: 700;
    border-color: #00529B;
}

/* Tabs (media) */ 
.media{
    .el-tabs__nav-wrap{
        &::after{
            content: none;
        }
        .el-tabs__item{
            text-transform: uppercase;
            color: $color-text;
            font-size: 0.9375rem;
            &.is-active{
                color: $color-brand;
                font-weight: 700;
            }
        }
        .el-tabs__nav{
            text-align: center;
            float: none;
            .el-tabs__active-bar{
                display: none;
            }
        }
    }
}

.el-input .el-input__inner, textarea.el-textarea__inner{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #D1D2D5;
    border-radius: 0;
    &:focus{
        border-color: $color-brand;
    }
}
textarea.el-textarea__inner{
    height: 36px;
}
.invalid{
    .el-input__inner{
        border-color: $color-error;
    }
}